* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 235, 205, 0.821);

}


#listing-body {

    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: cadetblue;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#listing-body a {
    text-decoration: none;
    color: black;
    font-size: 1.175rem;
}


#condour-heading {
    font-size: 2rem;
}

#condour-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: .7rem;
}

#condour-container img {
    width: 100%;
    height: 100%;
}

#listing-body #condour-details {
    color: black;
    font-size: 1.175rem;
}



/* details section */


#more-details {

    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: cadetblue;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#more-details h3 {
    font-weight: 700;
    font-size: 1.7rem;
}

#more-details #ctas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#more-details #ctas a {
    text-decoration: none;
    color: black;
    font-size: 1.175rem;
}

#more-details #img-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: .7rem;
}

#more-details #img-container img {
    width: 100%;
    height: 100%;
}